.login-container {
  position: relative;
  min-width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  background-image: url('/bg.svg');
  background-size: cover;
  background-position: 50%;
}

.login-form {
  width: 500px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.login-title {
  padding: 24px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  white-space: nowrap;
}